node_modules
.pytest_cache
.terraform
.terraform.tfstate.lock.info
*.tfstate.backup
credentials
.pytest_cachesetup/kubectl.exe 
setup/aws-iam-authenticator 
setup/aws-iam-authenticator 
setup/terraform/terraform.tfstate 
setup/terraform/terraform.tfstate.backup 
**/data/ 
**/__pycache__/ 
/setup/kubectl.exe
